@font-face {
  font-family: "Muli";
  src: url('Muli-Regular.ttf') format('truetype');
  src: url('Muli-Black.ttf') format('truetype');
  src: url('BlackItalic.ttf') format('truetype');
  src: url('Muli-Bold.ttf') format('truetype');
  src: url('BoldItalic.ttf') format('truetype');
  src: url('SemiBoldItalic.ttf') format('truetype');
  src: url('ExtraBold.ttf') format('truetype');
  src: url('ExtraBoldItalic.ttf') format('truetype');
  src: url('Muli-ExtraLight.ttf') format('truetype');
  src: url('Muli-SemiBold.ttf') format('truetype');
  src: url('Muli-Regular.ttf') format('truetype');
  src: url('LightItalic.ttf') format('truetype');
  src: url('Muli-Light.ttf') format('truetype');
  src: url('Muli-Italic.ttf') format('truetype');
  src: url('Muli-ExtraLightItalic.ttf') format('truetype');
}

* {
  font-family: "Muli-Regular";
}

p {
  color: black;
  font-size: 14px;
  text-align: left;
}

h1{
  color: #004e95;
  font-size: 26px;
  text-align: center;
}

h2 {
  color: #004e95;
  font-size: 20px;
  text-align: left;
}

h3 {
  font-size: 18px;
  text-align: left;
}

h4 {
  font-size: 16px;
  text-align: left;
}

body {
  background-color: #fffadc;
  width: 1040px;
  margin: auto;
  margin-top: 10px;
}

li, a {
  font-size: 14px;
}

a.header {
  color: white;
}

a.link {
  color: blue;
}

a:hover {
  text-decoration: none;
}

blockquote {
  font-size: 14px;
}

.maintext {
  border: 2px solid;
  border-radius: 8px;
  border-color: #004e95;
  background-color: white;
  padding: 2px 15px;
  width: 900px;
  margin: auto;
}

.headertext {
  border: 2px solid;
  border-radius: 8px;
  border-color: #002e85;
  background-color: #002e85;
  padding: 2px 15px;
  width: 900px;
  margin: auto;
}

.headertext p {
  color: white;
}

.headertext h1 {
  color: white;
}

.stats-container {
  display: flex;
  width: auto;
  justify-content: center;
}

.stats-container div {
  width: 200px;
  padding: 30px;
  margin: 0px 20px;
  color: #004e95;
  border-radius: 8px;
  border-color: #0074ad;
  background-color: #e6f7ff;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
}

.number {
  color: #F3336C;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.logo {
  height: 25%;
  width: 25%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto auto auto auto auto;
  width: 70%;
}

.bug-grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto auto auto auto;
  width: 80%;
  margin-bottom: 10px;
}

.bug-grid-container div, .grid-container div, .video-grid-container div {
  font-size: 15px;
}

.video-grid-container {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: auto auto auto auto auto;
  width: 70%;
}

.number-grid {
  color: #F3336C;
}

@media only screen and (max-width: 400px) {
  * {
    margin: 10px;
    line-height: 1.4;
  }

  p {
    font-size: 20px;
  }

  div {
    font-size: 20px;
  }

  h1{
    color: #004e95;
    font-size: 32px;
    text-align: center;
  }

  h2 {
    color: #004e95;
    font-size: 26px;
    text-align: left;
  }

  h3 {
    font-size: 24px;
    text-align: left;
  }

  h4 {
    font-size: 22px;
    text-align: left;
  }

  a {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

}
